!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title i18n.li | Locale file editor for jade-i18n.js
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Locale file editor for jade-i18n.js')
    meta(name='author', content='Plastic Panda')

    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body

    .navbar.navbar-fixed-top
        .navbar-inner
          .container.header
            .row-fluid
              .span12
                p i18n.li

    .fullbar.dark
      .container
        .row-fluid
          .span12.tc
            img(src='img/logo.png')
            h1.logo 
              | Hello, Human!
            h2
              | Upload and translate JSON Locale files. 
              a() Wut?
            a#browse.btn.btn-warning.btn-large Browse...
            input#file.hide(type='file', accept='application/json')

    .container-fluid    
      //- Hidden, show only after a file has been uploaded
      .row-fluid.table-container
        .table-hidden(style='display:none;')
          table#table.table
            thead
              th.span1
                | Context
              th.span5
                | Original Text
              th.span5
                | Translated Text
              th#fuzzyTh.span1
                | Fuzzy?
            tbody
              // eeh, vediamo un poco

    .container-fluid.table-hidden(style='display:none;')
      .row-fluid
        .span6.tr
          p(style='margin-top: 11px;')
            | Last Autosave 
            span#autoSaveDetails never

        .span6
          //- Non si capisce che salva nel browser...
          .save-container
            //-button#saveBtn.btn.btn-large() Save
            div#downloadBtn
              | You need Flash Player 10 to download this file, sorry.

    .container-fluid
      hr.table-hidden(style='display:none;')
      footer
        p.tc &copy; 2013 
          a(href='http://www.plasticpanda.com/') plasticpanda.com
          |  &middot;  
          a(href='https://github.com/PlasticPanda/li.i18n/issues') bugs
          |  &middot;  
          a(href='https://github.com/PlasticPanda/li.i18n') source code

    script(src='js/jquery.js')
    script(src='js/jquery.autosize.js')
    script(src='js/bootstrap.js')
    script(src='js/objectstorage.js')
    script(src='js/string-format.js')
    script(src='js/sugar.js')
    script(src='js/swfobject.js')
    script(src='js/downloadify.js')
    script(src='js/app.js')