!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title i18n.li | Locale file editor for jade-i18n.js
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Locale file editor for jade-i18n.js')
    meta(name='author', content='Plastic Panda')

    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body

    .navbar.navbar-fixed-top
        .navbar-inner
          .container.header
            .row-fluid
              .span12
                p i18n.li

    .fullbar.dark
      .container
        .row-fluid
          .span12.tc
            img(src='img/logo.png')
            h1.logo 
              | Hello, Human!
            h2
              | Upload and translate JSON Locale files. 
              a() Wut?

    .container-fluid
      .row-fluid
        .span12
          .header.center
            
            img(src='img/logo.jpg')
            
            h1 Hello, human
            p.lead
              | From this page you can upload and translate 
              a(href='https://github.com/PlasticPanda/jade-i18n.js#jade-i18njs---static-i18-d-website-generator') jade-i18n.js
              | -compatible JSON Locale files.
      
      .row-fluid
        .span12
          p

          p.center
            | To begin, choose a file to translate from your computer:
            br
            input#file(type='file', accept='application/json') 
              
      //- Hidden, show only after a file has been uploaded
      .row-fuild
        .span12
          table#table(style='display:none;')


      hr
      footer
        p.center &copy; 2013 
          a(href='http://www.plasticpanda.com/') plasticpanda.com 
          | | 
          a(href='https://github.com/PlasticPanda/li.i18n/issues') bugs 
          | | 
          a(href='https://github.com/PlasticPanda/li.i18n') source code

    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    script(src='js/string-format.js')
    script(src='js/app.js')