!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title i18n.li | Locale file editor for jade-i18n.js
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Locale file editor for jade-i18n.js')
    meta(name='author', content='Plastic Panda')

    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body

    .navbar.navbar-fixed-top
        .navbar-inner
          .container.header
            .row-fluid
              .span12
                p i18n.li

    .fullbar.dark
      .container
        .row-fluid
          .span12.tc
            img(src='img/logo.png')
            h1.logo 
              | Hello, Human!
            h2
              | Upload and translate JSON Locale files. 
              a() Wut?

    .container
      .row-fluid
        .span12
          h3 Start here
          p.center
            | To begin, choose a file to translate from your computer: 
            a#browse.btn.pull-right Browse...
          input#file.hide(type='file', accept='application/json')

    .container-fluid    
      //- Hidden, show only after a file has been uploaded
      .row-fluid
        table#table.table(style='display:none;')

    .container-fluid
      hr
      footer
        p.tc &copy; 2013 
          a(href='http://www.plasticpanda.com/') plasticpanda.com 
          | &middot; 
          a(href='https://github.com/PlasticPanda/li.i18n/issues') bugs 
          | &middot; 
          a(href='https://github.com/PlasticPanda/li.i18n') source code

    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    script(src='js/objectstorage.js')
    script(src='js/string-format.js')
    script(src='js/app.js')